body {
  font: 14px "Century Gothic", Futura, sans-serif;
  text-align: center;
  margin: 0 auto !important;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, teal, white);
}

ol, ul {
  padding-left: 0px;
}

.left-button {
  float: left;
}

.right-button {
  float: right;
}

.buttons {
  width: 70vw
}

.welcome-text {
  margin: 5px;
}

.language-button {
  margin-top: 20vh;
}

.square {
  background: #fff;
  border: 0.1vw solid #999;
  /* border-right: 1vw solid black; */
  float: left;
  font-size: 3vw;
  font-weight: bold;
  padding: 0;
  line-height: 4vw;
  height: 4vw;
  width: 4vw;
  text-align: center;
}

#footer-welcome {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.icons-welcome {
  margin-bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 0;
  margin: 0;
}

.copyright-welcome {
  margin: 0;
  bottom: 0;
}

#footer-game {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.icons-game {
  margin-bottom: 0;
  /* left: 23vw; */
  width: 100vw;
  text-align: center;
  padding: 0;
  margin: 0;
}

p a { /* copyright-game */
  margin: 0;
}

.welcome-box {
  height: 70vh;
  width: 50vw;
  border: 1vw solid green;
  padding: 1vw;
  margin: 0 auto;
  position: absolute;
  top: 10vh;
  left: 23vw;
  right: 23vw;
  border-style: double;
  border-style: groove;
}

@media only screen and (min-width: 1000px) {
  body {
    height: 110vh;
  }

  #footer-game {
    top: 95vh;
  }
}

@media only screen and (max-width: 700px) {
  .square {
    background: #fff;
    border: 0.1vw solid #999;
    /* border-right: 1vw solid black; */
    float: left;
    font-size: 5vw;
    font-weight: bold;
    padding: 0;
    line-height: 8vw;
    height: 8vw;
    width: 8vw;
    text-align: center;
  }

  .welcome-box {
    height: 65vh;
    width: 50vw;
    border: 1vw solid green;
    padding: 1vw;
    margin: 0 auto;
    position: absolute;
    top: 10vh;
    left: 23vw;
    right: 23vw;
    border-style: double;
    border-style: groove;
  }

  #footer-welcome {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  
  .icons-welcome {
    /* position: absolute; */
    /* left: 23vw; */
    /* bottom: 10vh; */
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  p a { /* copyright-welcome */
    margin: 0;
    padding: 0;
  }

  #footer-game {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

}

li {
  display: inline;
  *display: inline;
  *zoom: 1;
}

li a {
  white-space: nowrap;
  color: black;
}

li:after {
  content: " ";
  letter-spacing: 1em;
  background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
}

.board-row:after {
  /* clear: both; */
  /* content: ""; */
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 10vh;
  left: 14vw;
}

.game-info {
  margin-top: 5vh;
}

